@charset "utf-8";

@import "./prism.scss";

@import "./fonts.scss";
@import "./mixins.scss";
@import "./variables.scss";

// bulma imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/menu.sass";

@import "./font-awesome-config.scss";

html {
  overflow: auto;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

.focus-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-profile-pic {
  max-height: 200px;
  max-width: 200px;

  @media (min-width: $tablet) {
    max-height: 256px;
    max-width: 256px;
  }
}

.footer {
  font-size: 0.8em;
}

.socials {
  font-size: 1.5em;
}

.social-link {
  color: $off-white-80p;
  margin-right: 8px;
}

.landing-greeting {
  font-size: 1em;
  margin-bottom: .3em;
  color: $off-white-80p;
}

.landing-whoami {
  font-size: 2em;
  margin-bottom: .3em;
  line-height: 1.25em;
}

.focus-content {
  margin-top: 4em;
  margin-bottom: 3em;
  flex-grow: 1;
}

.pinned-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-container {
  @media (max-width: $tablet) {
    display: none;
  }
}

.pin {
  height: $pin-radius;
  width: $pin-radius;
  border-radius: $pin-radius;
  background-color: $carrot-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 4px 0 $prussian-blue-80p;
}

.pin__icon {
  display: block;

  @include transform(rotate(-45deg));
}

.pin-text {
  padding-left: 12px;
}

.pin-text__sub {
  color: $off-white-80p;
}

.pin-text__main-link {
  color: $off-white;
  text-decoration: underline;
}

.pin-text__main-link:hover {
  color: $carrot-orange;
}

.about-paragraph {
  font-size: 1.1em;
  padding-top: 12px;
}

.about-list {
  font-size: 1.1em;
  padding-top: 4px;
  list-style: none;

  li:before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
  }
}

.filling-with-hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filling-with-hero-content__content-wrapper {
  flex-grow: 1;
}

.filling-with-hero-content__hero-wrapper {
  flex-grow: 0;
}

.contact-address {
  span {
    display: block;
  }
}

.data-protection-block {
  padding-top: 16px;

  p {
    padding-top: 8px;
  }
}

article {
  font-size: 1.1em;
}

.content figure {
  margin-left: 0;
  margin-right: 0;
}

.bloglist-entry {
  font-size: 1.2em;
  margin-top: 24px;
}

.bloglist-entry:first {
  margin-top: 0;
}

.bloglist-entry__subline {
  font-size: 0.95em;
  color: $off-white-80p;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.bloglist-entry__publish-date {
  height: auto;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.inline-divider {
  height: auto;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  hr {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    width: 100%;
    border: none;
    border-top: 2px dashed;
    height: 1px;
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    a {
      color: $off-white;
    }
  }
}

.side-navigation {
  position: fixed;
  top: 6rem;
  right: 0;
}

aside.menu {
  @media(max-width: $tablet) {
    display: none;
  }

  max-width: 214px;
  text-align: right;
  color: $off-white-80p;
  font-size: 0.9em;
}

.icon-navigation {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.icon-navigation__link {
  margin-left: 4px;
  margin-right: 4px;
}
