@charset "utf-8";

@import "./fonts.scss";
@import "./mixins.scss";
@import "./variables.scss";

@import "../node_modules/bulma/bulma.sass";

@import "./font-awesome-config.scss";

html {
  overflow: auto;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

.focus-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-profile-pic {
  max-height: 200px;
  max-width: 200px;

  @media (min-width: $tablet) {
    max-height: 256px;
    max-width: 256px;
  }
}

.footer {
  font-size: 0.8em;
}

.socials {
  font-size: 1.5em;
}

.social-link {
  color: $off-white-80p;
  margin-right: 8px;
}

.landing-greeting {
  font-size: 1em;
  margin-bottom: .3em;
  color: $off-white-80p;
}

.landing-whoami {
  font-size: 2em;
  margin-bottom: .3em;
  line-height: 1.25em;
}

.focus-content {
  margin-top: 4em;
  margin-bottom: 3em;
  flex-grow: 1;
}

.pinned-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-container {
  @media (max-width: $tablet) {
    display: none;
  }
}

.pin {
  height: $pin-radius;
  width: $pin-radius;
  border-radius: $pin-radius;
  background-color: $carrot-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 4px 0 $prussian-blue-80p;
}

.pin__icon {
  display: block;

  @include transform(rotate(-45deg));
}

.pin-text {
  padding-left: 12px;
}

.pin-text__sub {
  color: $off-white-80p;
}

.pin-text__main-link {
  color: $off-white;
  text-decoration: underline;
}

.pin-text__main-link:hover {
  color: $carrot-orange;
}
